@import "root.css";
.checkout
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.checkout h1
{
    font-size: 40px;
    color: var(--color);
}

.form
{
    border: 2px solid black;
    width: 95%;
    box-shadow: 0px 0px 5px 3px rgba(198, 188, 188, 0.55);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(139, 138, 138, 0.55);
    -moz-box-shadow: 0px 0px 5px 3px rgba(121, 113, 113, 0.55);
    border-radius: 20px;
    
}
.form h1
{
    font-size: 30px;
    background-color: rgb(225, 222, 222);
    margin: 0;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}
.form h2
{
    font-size:30px ;
    padding: 20px;

}

/* MEssages ang Address Details */
.msg 
{

    display: flex;
    padding:10px 20px;
    align-items: center;
    justify-content:space-evenly
}

.msg input
{
    width: 70%;
    padding: 50px 30px;
    border-radius: 10px;
  
}
/*  Deatils*/

.details2
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.details2 input
{
    padding: 10px 0;
    border-radius: 10px;
    width: 60%;
    text-align:center;
    font-size: 16px;
}
.details2 span 
{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
    padding: 0 20px;
}
.b-details input:hover
{
    border: none;
    box-shadow: 0px 0px 5px 3px rgba(88,80,80,0.55);
    -webkit-box-shadow: 0px 0px 3px 2px var(--color2);
    -moz-box-shadow: 0px 0px 5px 3px rgba(88,80,80,0.55);
}

.b-details input:focus
{
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 3px rgba(88,80,80,0.55);
    -webkit-box-shadow: 0px 0px 4px 3px var(--color2);
    -moz-box-shadow: 0px 0px 5px 3px rgba(88,80,80,0.55);
}


@media only screen and (max-width : 700px) {
    .details2 input 
    {
       width: 70%;
    }
    {
        width: 100%;
    }
    .msg{
        flex-direction: column;
    }
    .form
    {
        width: 100%;
    }
}
@media only screen and (max-width : 500px)
{
    .checkout h1 
    {
        font-size: 30px;
    }
    .form h1 {
        font-size: 25px;
    }
    .form h2 
    {
        font-size: 25px;
    }
}
/* Payment Checkbox */
.payment
{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 2em;
}
.p-check{
    border: 2px solid black;
}
.p-checkbox
{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: green;
    align-items: center;
    justify-content:center;
    color: #fff;
    border-radius: 10px;
}
#check2{
    display: none;
}
.extra
{
    display: none;
}
@media only screen and (max-width:600px) {
    .extra{
        display: contents;
    }
    .cards
    {
        display: none;
    }
}
.tc
{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 1em;
}
.tc a{
    text-decoration: none;
}
.order-button
{
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    color: #FFFF;
    font-size: 20px;
    border: none;
    background-color: var(--color);
}
.order-button:hover
{
    background-color: var(--color2);
    color: #FFFF;
    transition: all;
    -webkit-transition : .35s all ease-in-out;
}
.order-button:active
{
    color: var(--color);
}
